/*============= RESETS ============= font-family: 'Lato', sans-serif;*/ 

/*-- iPhone X Remove Gutters --*/
html {
   padding: env(safe-area-inset);

}
body {
   position: relative;
 }

/*-- Prevent Horizontal Scrolling & Font Style --*/
html,body{
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
   color: #505962;
}
.text-ame{
   color:#52c6ca;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
   content: "";
   height: 4rem;
   display: block;
   margin-top: -4rem;

}


/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
   padding: 1rem; 
}


/*============= NAVIGATION =============*/
.navbar-brand:hover {
   color: white;
}
.navbar-brand img{
   height: 2rem ;
   
}
.navbar{
   padding: .7rem 2rem;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing:.1rem ;
   font-size: .9rem;
   transition: background-color .5s ease;

}
.navbar-nav li{
   padding-right: .8rem;

}
.navbar-nav .nav-link {
   color:white;
   padding-top: 1rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover{
   color:#52c6ca;
}
.custom-toggler-icon{
   color: white;
   font-size: 1.6rem;
}

.navbar.solid,
.navbar.solid-toggle{
   background: rgba(0,0,0,.7)!important;
   transition: background-color 1s ease 0s;
}
/*-- Remove Button Outline --*/
button:focus, a:focus, a.btn:focus {
   outline: 0;
   -webkit-appearance: none;
   box-shadow: none;
   transition: all .6s ease;
}
button, a, a.btn, .fas{
   transition: aa .6s ease;
}

.pagination , .pagination-sm{
   font-weight: 100;
   margin-left: 0;
   margin-right: 10;
   
}

/*============= LANDING PAGE =============*/

/*--- Fixed Landing Page Section --*/
.landing {
   position: relative;
   height: 100vh;
   width: 100%;
   display: table;
   z-index: -1;
}
.home-wrap {
   clip: rect(0,auto,auto,0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}
.home-inner {
   background-image: url('../img/pic1020.jpg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform:translateZ(0) ;
   transform: translateZ(0);
   will-change: transform;
   display: table;
}


/*-- Landing Page Caption --*/
.caption {
   z-index: 1;
   position: fixed;
   top:38%;
   width: 100%;
   max-width: 100%;
}
.caption h1 {
   font-size:4.5rem ;
   letter-spacing: .3rem;
   text-shadow: .1rem .1rem .8rem black;
   
}
.caption h3 {
   font-size: 2.5rem;
   text-shadow: .1rem .1rem .5rem black;
   padding-bottom: 2rem;
}
.caption .btn-lg {
   border-width: medium;
   padding: .8rem 1.5rem;
   font-size: 1.1rem;
}


.navbar-brand {
   color:white;
}

/*============= FEATURES SECTION =============*/
.btn {
 padding-bottom: .5rem;
}
.btn-sm {
   border-width: medium;
   border-radius: 0;
   padding: .5rem 1.1rem;
   text-transform: uppercase;
   font-size: .9rem;
   margin: 1rem;
}
.btn-ame {
   background-color:#52c6ca;
   color:white;
}
.btn-ame:hover {
   background-color:#97dcdf;
   color:white;
}
h3.heading {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.9rem;
   text-align: center;
   margin-bottom: 1.9rem;

}
.heading-underline {
   width: 5rem;
   height: .5rem;
   background-color:#52c6ca ;
   margin: 0 auto 2rem;
}
.feature span {
   color:#52c6ca;
   margin-bottom: .6rem;
}
.feature h3 {
   text-transform: uppercase;
   font-size: 1.3rem;
   padding-bottom: .4rem;
}

/*===== FIXED BACKGROUND IMG DARK =====*/

/*--- iOS Fixed Background Image --*/
.fixed{
   position: relative;
   width: 100%;
  
}
.fixed-wrap {
   clip: rect(0,auto,auto,0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: -9999;
}
.fixed-dark {
   background-image: url('../img/fixed/pic1027.jpg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform:translateZ(0) ;
   transform: translateZ(0);
   will-change: transform;
   z-index: -1;
   top: 0;
   left: 0;
   display: table;
}
.dark {
   background-color: rgba(0,0,0,.7);
   padding: 7rem 0;
   z-index:1000;
}



/*============= PORTFOLIO SECTION =============*/
.portfolio-item {
   overflow: hidden;
}
.portfolio-item img:hover {
   transform: scale(1.2);
   cursor: zoom-in;
}
.portfolio-item img {
   transition: transform .4s ease;
}


/*============= PRICING SECTION 
=============*/
.plans-column {
   background-color: white;
   height: 100%;
   padding: 1.6rem;
   border-top: .25rem solid #52c6ca;
   box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
   transition: transform .7s ease;
   position: relative;
   overflow: hidden;
}
.plans-column:hover {
   transform: scale(1.1);
}
.plans-column h4 {
   font-size: 1.1rem;
   font-weight: 700;
}


/*============= TEAM SECTION FIXED BG IMG LIGHT =============*/
.fixed-light {
   background-image: url('../img/fixed/office.jpg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: transform;
   z-index: -1;
   top: 0;
   left: 0;
   display: table;
}
.light {
   background-color: rgba(255, 255, 255, .75);
   padding: 5rem 0;
   z-index: 1000;
}
.owl-stage {
   display: flex;
}
.card {
   height: 100%;
   border-radius: 0;
   text-align: center;
   margin: 0 1rem;
   border: .1rem solid rgba(0, 0, 0, .075);
   box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
   transition: transform .4s ease;
}
.card:hover {
   transform: scale(.95);
}
.topScroll {
   display: none!important;
}
button.owl-dot.active span,
button.owl-dot:hover span {
   background: #1EBBA3!important;
}
ul.social {
   list-style: none;
   padding: 0;
   margin: 0;
   font-size: 1.5rem;
}
ul.social li {
   display: inline;
   padding-right: .8rem;
}
ul.social li a {
   color: #52c6ca;
   transition: all .2s ease;
}
ul.social li a:hover {
   color: #505962;
}


/*============= ALERTS =============*/

/*--- Team Light Background Image --*/

/*============= dropdown SECTION =============*/
/*--- Drop-down Menu --*/
.dropdown-menu, .dropdown-item {
   font-size: .9rem;
   font-weight: 700!important;
   background-color: transparent!important;
   border: 0;
   color: white;
 }
.dropdown-menu.show {
   margin-top: .75rem!important;
   border-radius: 0;
   transition: background-color .5s ease 0s;
 }
 .dropdown-submenu {
   transition: background-color .5s ease 0s;
 }
 .dropdown-menu.no-space-top {
   margin-top: 0!important;
 }
 .dropdown-menu:hover, .dropdown-item:hover,
 .dropdown-menu:focus, .dropdown-item:focus,
 .dropdown-toggle:active, .dropdown-toggle:focus {
   color: #52c6ca!important;
 }
 .dropdown-submenu.solid,
 .dropdown-menu.show.solid {
   background: rgba(0, 0, 0, 0.7)!important;
   transition: background-color 1s ease 0s;
 }
 .dropdown-submenu > .dropdown-menu {
   width: 100%;
   margin-top: 0!important;
 }
/*============= CONTACT SECTION =============*/

/*--- Contact Form --*/

/*============= REVIEW.HTML =============*/
/* ----------------
Footer section
 ---------------------*/

 .footer-section {
	background: #505962;
	padding-top: 73px;
}



.copyright {
	color: white;
	font-size: 16px;
	padding: 35px 0 30px;
}

.copyright a {
	color: #52c6ca;
}

.copyright a:hover {
	color: #10ddb4;
}

.copyright i {
	color: #a51111;
}

.social-links-warp {
	border-top: 1px solid #363636;
	padding: 45px 0;
}

.social-links a {
	margin-right: 104px;
	display: inline-block;
}

.social-links a:last-child {
	margin-right: 0;
}

.social-links a i {
	font-size: 30px;
	color: #d7d7d7;
	float: left;
	margin-right: 19px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a span {
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
	padding-top: 10px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a:hover i {
	color: #52c6ca;
}

.pagination,.page-item {
   margin-right: 0;
   margin-bottom: 0;
}


/*============= MEDIA QUERIES from getbootstrap page =============*/

/* Devices under 992px (lg) */
@media (max-width:991.98px){
   .caption h1 {
      font-size:3.5rem ;
      letter-spacing: .2rem; 
      padding-bottom: .8rem; 
   }
   .caption h3 {
      font-size: 2.2rem;
      padding-bottom: 1.7rem;
   }
   .caption .btn-lg {
      padding: .7rem 1.2rem;
      font-size: 1rem;
   }

}

/* Devices under 768px (md) */
@media (max-width:767.98px){
   
   .caption h1 {
      font-size:2.7rem ;
      letter-spacing: .15rem;
      padding-bottom: .5rem;
   }
   .caption h3 {
      font-size: 1.7rem;
      padding-bottom: 1.2rem;
   }
   .caption .btn-lg {
      padding: .6rem 1.1rem;
     
   }
#features h1 {
   font-size: 2rem;

}
}

/* Devices under 576px (sm) */

@media (max-width:575.98px){
   .caption h1 {
      font-size:1.9rem ;
      letter-spacing: .1rem; 
      padding-bottom: .4rem; 
   }
   .caption h3 {
      font-size: 1.2rem;
      padding-bottom: 1rem;
   }
   .caption .btn-lg {
      padding: .4rem .9rem;
      font-size: .9rem;
   }

}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
