/*============= RESETS ============= font-family: 'Lato', sans-serif;*/ 

/*-- iPhone X Remove Gutters --*/
html {
   padding: env(safe-area-inset);

}
body {
   position: relative;
 }

/*-- Prevent Horizontal Scrolling & Font Style --*/
html,body{
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
   color: #505962;
}
.text-ame{
   color:#52c6ca;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
   content: "";
   height: 4rem;
   display: block;
   margin-top: -4rem;

}


/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
   padding: 1rem; 
}


/*============= NAVIGATION =============*/
.navbar-brand img{
   height: 2rem ;
   
}
.navbar{
   padding: .7rem 2rem;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing:.1rem ;
   font-size: .9rem;
   transition: background-color .5s ease;

}
.navbar-nav li{
   padding-right: .8rem;

}
.navbar-nav .nav-link {
   color:white;
   padding-top: 1rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover{
   color:#52c6ca;
}
.custom-toggler-icon{
   color: white;
   font-size: 1.6rem;
}

.navbar.solid,
.navbar.solid-toggle{
   background: rgba(0,0,0,.7)!important;
   transition: background-color 1s ease 0s;
}
/*-- Remove Button Outline --*/
button:focus, a:focus, a.btn:focus {
   outline: 0;
   -webkit-appearance: none;
   box-shadow: none;
   transition: all .6s ease;
}
button, a, a.btn, .fas{
   transition: aa .6s ease;
}


/*============= LANDING PAGE =============*/

/*--- Fixed Landing Page Section --*/
.landing {
   position: relative;
   height: 100vh;
   width: 100%;
   display: table;
   z-index: -1;
}
.home-wrap {
   clip: rect(0,auto,auto,0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}
.home-inner {
   background-image: url('../img/pic1020.jpg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform:translateZ(0) ;
   transform: translateZ(0);
   will-change: transform;
   display: table;
}


/*-- Landing Page Caption --*/
.caption {
   z-index: 1;
   position: absolute;
   top:10%;
   width: 100%;
   max-width: 100%;
}
.caption h1 {
   font-size:4.5rem ;
   letter-spacing: .3rem;
   text-shadow: .1rem .1rem .8rem black;
   padding-bottom: 1rem; 
}
.caption h3 {
   font-size: 2.5rem;
   text-shadow: .1rem .1rem .5rem black;
   padding-bottom: 2rem;
}
.caption .btn-lg {
   border-width: medium;
   padding: .8rem 1.5rem;
   font-size: 1.1rem;
}
.navbar-brand {
   color:white;
}
/*-- Bouncing Down Arrow --*/
.arrow {
   position: absolute;
   bottom: 0;
   width: 100%;
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite ;
}
.down-arrow .fas {
   color:white;
   font-size: 2rem;
   width:100%;
   opacity:.5;
}
.down-arrow .fas:hover {
   opacity:.9;
}


/*============= FEATURES SECTION =============*/
.btn-sm {
   border-width: medium;
   border-radius: 0;
   padding: .5rem 1.1rem;
   text-transform: uppercase;
   font-size: .9rem;
   margin: 1rem;
}
.btn-ame {
   background-color:#52c6ca;
   color:white;
}
.btn-ame:hover {
   background-color:#97dcdf;
   color:white;
}
h3.heading {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.9rem;
   text-align: center;
   margin-bottom: 1.9rem;

}
.heading-underline {
   width: 5rem;
   height: .5rem;
   background-color:#52c6ca ;
   margin: 0 auto 2rem;
}
.feature span {
   color:#52c6ca;
   margin-bottom: .6rem;
}
.feature h3 {
   text-transform: uppercase;
   font-size: 1.3rem;
   padding-bottom: .4rem;
}

/*===== FIXED BACKGROUND IMG DARK =====*/

/*--- iOS Fixed Background Image --*/
.fixed{
   position: relative;
   width: 100%;
   display:table;
  
}
.fixed-wrap {
   clip: rect(0,auto,auto,0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: -9999;
}
.fixed-dark {
   background-image: url('../img/fixed/pic1027.jpg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform:translateZ(0) ;
   transform: translateZ(0);
   will-change: transform;
   z-index: -1;
   top: 0;
   left: 0;
   display: table;
}
.dark {
   background-color: rgba(0,0,0,.7);
   padding: 7rem 0;
   z-index:1000;
}



/*============= PORTFOLIO SECTION =============*/
.portfolio-item {
   overflow: hidden;
}
.portfolio-item img:hover {
   transform: scale(1.2);
   cursor: zoom-in;
}
.portfolio-item img {
   transition: transform .4s ease;
}


/*============= PRICING SECTION 
=============*/
.pricing-column {
   background-color: white;
   height: 100%;
   padding: 1.6rem;
   border-top: .25rem solid #52c6ca;
   box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
   transition: transform .7s ease;
   position: relative;
   overflow: hidden;
}
.pricing-column:hover {
   transform: scale(1.1);
}
.pricing-column h4 {
   font-size: 1.1rem;
   font-weight: 700;
}


/*============= TEAM SECTION FIXED BG IMG LIGHT =============*/

/*--- Team Light Background Image --*/


/*============= SKILLS SECTION =============*/


/*============= CLIENTS SECTION =============*/


/*============= CONTACT SECTION =============*/


/*--- Contact Form --*/


/*============= TOP SCROLL =============*/


/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */


/* Devices under 768px (md) */


/* Devices under 576px (sm) */



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
